#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define BASE 0
#define NAVIGATION 1
#define MOUSE 2
#define NUMBERS 3
#define SYMBOLS 3

/ {
  keymap {
    compatible = "zmk,keymap";

    Base_layer {
      bindings = <
        &kp ESCAPE        &kp Q        &kp W          &kp E        &kp R         &kp T                     &kp Y           &kp U          &kp I          &kp O           &kp P           &kp BACKSPACE 
        &kp TAB           &kp A        &kp S          &kp D        &kp F         &kp G                     &kp H           &kp J          &kp K          &kp L           &kp SEMICOLON   &kp RETURN 
        &kp LEFT_SHIFT    &kp Z        &kp X          &kp C        &kp V         &kp B                     &kp N           &kp M          &kp COMMA      &kp PERIOD      &kp COLON       &kp SLASH 
        &sk LEFT_CONTROL  &lt NUMBERS SPACE    &kp LEFT_GUI                                                &mo SYMBOLS     &lt NAVIGATION SPACE    &mo MOUSE 
      >;
    };

    Mouse_layer {
      bindings = <
        &none            &none        &kp F17         &kp F13      &none        &none                     &kp F18          &kp PG_UP      &none          &kp PG_DN       &none            &none 
        &none            &none        &kp F15         &kp F14      &kp F16      &none                     &kp F19          &kp F20        &kp F21        &none           &none            &none 
        &none            &none        &none           &none        &none        &none                     &none            &none          &none          &none           &none            &none 
        &none            &kp F17      &none                                                               &none            &none          &none 
      >;
    };


    Navigation_layer {
      bindings = <
        &trans           &none         &none         &kp UP        &none         &none                     &none          &none           &none          &none           &none           &trans
        &trans           &none         &kp LEFT      &kp DOWN      &kp RIGHT     &none                     &none          &kp LEFT_SHIFT  &kp LEFT_CONTROL&none          &none           &trans 
        &kp LEFT_SHIFT   &none         &none         &none         &none         &none                     &none          &kp DEL         &kp INSERT      &none          &none           &trans 
        &kp LEFT_CONTROL &none         &none                                                               &none          &none           &none 
      >;
    };


    Numbers_layer {
      bindings = <
        &trans          &kp NUMBER_1   &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp NUMBER_5              &kp NUMBER_6   &kp NUMBER_7    &kp NUMBER_8    &kp NUMBER_9    &kp NUMBER_0   &trans 
        &trans          &none          &none         &none         &none         &none                     &none          &none           &none           &none           &none          &none
        &kp F1          &kp F2         &kp F3        &kp F4        &kp F5        &kp F6                    &kp F7         &kp F8          &kp F9          &kp F10         &kp F11        &kp F12 
        &none           &none          &none                                                               &none          &none           &none 
      >;
    };


    Symbols_layer {
      bindings = <
        &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none 
      >;
    };

  };
};
